section.section.section-blog
	.figure
		svg(viewBox="0 0 1000 160" preserveAspectRatio="none").figure__triangle.figure__triangle--left
			polygon(points="0,0 0,160 1000,160")
		svg(viewBox="0 0 1000 160" preserveAspectRatio="none").figure__triangle.figure__triangle--right
			polygon(points="0,160 1000,160 1000,0")
	include ../sections/sidebar
	.articles
		each article in blog.articles
			article(id=`article-${article.id}` data-link=`#sidebar__item-${article.id}`).article
				h2.article__title #{article.title}
				.article__date #{article.date}
				.article__content!= article.text