section.section.section-about
	.about__col.about__col--left
		svg(viewBox="0 0 1000 160" preserveAspectRatio="none").about__triangle
			polygon(points="0,0 0,160 1000,160")
		.section__title
			.section__title-title Обо мне
			svg(viewBox="0 0 498.161 175.44").section__title-bg
				use(xlink:href=`./assets/img/sprite.svg#about_header`)
		.about
			.about__img-wrapper
				img(src="./assets/img/hello_photo.jpg").about__img
			.block
				.block__title
					| Кто я
				.block__text
					p #{text1}
					p #{text2}
	.about__col.about__col--right
		svg(viewBox="0 0 1000 160" preserveAspectRatio="none").about__triangle
			polygon(points="0,160 1000,160 1000,0")
		include ../sections/skills
section.section.map
	#map.map__img
	.map__contacts.contacts.block
		.contacts__title.block__title
			| Контакты
		ul.contacts__list
			each contact in contacts
				li.contacts__item
					.contacts__img-wrapper
						svg(class=`contacts__img contacts__img--${contact.item}`)
							use(xlink:href=`./assets/img/sprite.svg#${contact.item}`)
					.contacts__text
						| #{contact.text}

script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgzNJwApxkDQRh0IWOzuq-u3mLLRYBNqQ")