extends ../_template

block title
	title Обо мне

block content
	.wrapper
		section.section.hero
			.hero__bg
				img(src="./assets/img/water.jpg").hero__bg-img
			- var socials = [ { item: 'vk', link: 'https://vk.com/id13047302'}, { item: 'github', link: 'https://github.com/3elik'}, {item:'in', link: 'https://www.linkedin.com/in/alex-herbut-277343106/'}]
			.socials.socials--hero
				ul.socials__list
					each social in socials
						li.socials__item
							a(href=`${social.link}` class=`socials__link socials__link--${social.item}` target="_blank")
								svg(class=`socials__img socials__img--${social.item}`)
									use(xlink:href=`./assets/img/sprite.svg#${social.item}`)
			.hamburger
				a(href="#").hamburger__link
					svg.hamburger__img
						use(xlink:href=`./assets/img/sprite.svg#hamburger`)
			.hero__container
				svg.hero__container-img
					use(xlink:href=`./assets/img/sprite.svg#portfolio_header`)
				.hero_user.user
					.user__img-wrapper
						img(src=`./assets/img/hello_photo.jpg`).user__img
					h1.user__name Константин Константинов
					h2.user__description Личный сайт веб разработчика
			.arrow-down
				svg.arrow-down__img
					use(xlink:href=`./assets/img/sprite.svg#arrow_down`)
		section.section.section-about
			.about__col.about__col--left
				svg(viewBox="0 0 1000 160" preserveAspectRatio="none").about__triangle
					polygon(points="0,0 0,160 1000,160")
				.section__title
					.section__title-title Обо мне
					svg(viewBox="0 0 498.161 175.44").section__title-bg
						use(xlink:href=`./assets/img/sprite.svg#about_header`)
				.about
					.about__img-wrapper
						img(src="./assets/img/hello_photo.jpg").about__img
					.block__title
						| Кто я
					.block__text
						p #{about.text.p1}
						p #{about.text.p2}
			.about__col.about__col--right
				svg(viewBox="0 0 1000 160" preserveAspectRatio="none").about__triangle
					polygon(points="0,160 1000,160 1000,0")
				.skills
					.block__title
						| Чем я могу быть Вам полезен
					.skills__text
						p #{about.skills.text}
					ul.skills-group
						each skill in about.skills.skills
							li.skills-group__item
								.skills-group__title #{skill.title}
								ul.skills-list
									each dia in skill.dia
										li.skills-list__item
											.skill
												svg(width="120" height="120").skill__circle
													- var r = 50;
													- var opacity = dia.value / 100;
													- var val = r * opacity * 2 * Math.PI;
													circle(r=`${r}` cx="60" cy="60" stroke="#dfdcd5" fill="none")
													circle(r=`${r}` cx="60" cy="60" stroke="#74a163" transform="rotate(-90 60 60)" class="sector" stroke-dasharray=`${val} 300` stroke-opacity=`${opacity}`)
												.skill__title #{dia.title}
		section.section.map
			img(src="./assets/img/map.jpg").map__img
			.map__contacts.contacts
				.contacts__title.block__title
					| Контакты
				ul.contacts__list
					each contact in about.contacts
						li.contacts__item
							.contacts__img-wrapper
								svg(class=`contacts__img contacts__img--${contact.item}`)
									use(xlink:href=`./assets/img/sprite.svg#${contact.item}`)
							.contacts__text
								| #{contact.text}
	include ../sections/footer